[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
flake8 = "*"
pytest-cov = "*"
pytest-django = "*"

[packages]
collectfast = "*"
coverage = "==7.6.3"
dj-database-url = "*"
django = "*"
django-debug-toolbar = "*"
django-s3-folder-storage = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-decouple = "*"
sentry-sdk = "*"

[requires]
python_version = "3.9"
