{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title%}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">


			<div class="jumbotron">
				<h2>
					Curso de Python com Mussum
				</h2>
				<h4 class="mt-4">Matrículas abertas</h4>
				<!-- INICIO DO BOTAO PAGSEGURO -->
				<a href="https://pag.ae/7Xp-jUfw3/button" target="_blank" title="Pagar com PagSeguro">
					<img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a>
				<!-- FIM DO BOTAO PAGSEGURO -->


<!--				<h4 class="mt-4">Entre na fila de espera</h4>-->
<!--				<form action="https://hotmail.us5.list-manage.com/subscribe/post?u=3fd706e0a146f2480df6ef12e&amp;id=fd93d38de6"-->
<!--	  				method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"-->
<!--	  				class="row align-items-center" target="_blank" novalidate>-->
<!--				<form class="row align-items-center">-->
<!--  				<div class="col-auto">-->
<!--    				<label class="sr-only" for="mce-EMAIL">Email</label>-->
<!--    				<input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@email.com">-->
<!--  				</div>-->
<!--				<div class="col-auto">-->
<!--    				<label class="sr-only" for="mce-FNAME">Nome</label>-->
<!--    				<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu Nome">-->
<!--  				</div>-->
<!--				&lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;-->
<!--   				 <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3fd706e0a146f2480df6ef12e_fd93d38de6"-->
<!--																			  tabindex="-1" value=""></div>-->
<!--  <div class="col-auto">-->
<!--	  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">-->
<!--  </div>-->
<!--</form>-->

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					Mais detalhes sobre o instrutor
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img alt="Foto de Musundis" class="img-thumbnail float-start me-3"
							 src="{% static 'img/mussum.jpg' %}"/>
						Mussum Ipsum, cacilds vidis litro abertis. <a href="http://www.google.com.br" target="_blank" >Python Fluente</a> Mais vale um bebadis conhecidiss,
						que um alcoolatra anonimis. Viva Forevis aptent taciti sociosqu ad litora torquent.
						 vbQuem num gosta di mé, boa gentis num é. Diuretics paradis num copo é motivis de denguis.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}
